# Environment variables for development and production

# -- App Ports --
# Port for the development server
DEV_PORT=4322

# Port for the production preview server
PROD_PORT=4321

# -- Email Forwarding (Resend) --
# Your Resend API key
# Get one from https://resend.com
RESEND_API_KEY=

# The email address you want to send contact form submissions to
TO_EMAIL=

# The email address you want to send emails from (must be a verified domain in Resend)
FROM_EMAIL=noreply@yourdomain.com
